*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea
/.gradle
/captures
.externalNativeBuild
.idea/vcs.xml
app/.idea/
app/gradle/wrapper/gradle-wrapper.jar
.idea/modules.xml
.idea/
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/app/release/app-release.apk
/app/release/output-metadata.json
/gradle/release.keystore.jks
/app/release.keystore
/app/release/app-release.aab
